<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}JadMeetUs{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/style.css')}}">
            <link rel="stylesheet" href="{{asset('css/custom-theme/jquery-ui-1.9.1.custom.css')}}">
            <link rel="stylesheet" href="{{asset('css/custom-theme/jquery-ui-1.9.1.custom.min.css')}}">
            <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.selectboxit/3.3.0/jquery.selectBoxIt.css" />
        {% endblock %}
        {% block js %}
            <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
            <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
            <script src="{{asset('js/libs/modernizr-2.5.3-respond-1.1.0.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/jquery-ui-1.9.1.custom.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/jquery-ui-1.9.1.custom.js')}}"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.selectboxit/3.3.0/jquery.selectBoxIt.min.js"></script>
          </script>

        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon_tfg.ico') }}" />
    </head>


    <body {% block events %} {% endblock events %}>

        <div id="main-container">
            <div id="header-container">
                {% block header %}
        		    <header class="wrapper clearfix">
                        {% block logotype %}
            			<a href="{{path('home_usuario')}}" title="Home Page">
                            <img id="logo" src="{{asset('images/logo.png')}}" alt="Logo de la aplicación" />
                            <h1 id="title">{% block headertitle %} JadMeetUs {% endblock %}</h1>
                        </a>
                        {% endblock logotype %}
                                    <nav class="top_menu">
                                    	<ul class="breadcrumb">       <!-- id="menu" para  coger css pestañas y descomentar en otras paginas el código -->
                                            {% block menu %}
                                       		<!--<li><a href="#">nav ul li a</a></li>
        									<li><a href="#">nav ul li a</a></li>
        									<li><a href="#">nav ul li a</a></li>-->
                                            {% endblock %}
        								</ul>
                                    </nav>
        		    </header>
                {% endblock header %}
                <div class="log_out">
                    {% block log_out_bar %}
                    {% endblock %}
                </div>
	        </div>


		<div id="main" class="wrapper clearfix">
		{% block main %}{% endblock %}

		</div> <!-- #main -->
             <div class="corte"></div>
	   </div> <!-- #main-container -->

    {% block footer %}
        <div id="footer-container">
    	   <footer class="wrapper">
    		  {% block footerContent %}<h3></h3>{% endblock %}
    	   </footer>
    	</div>
    {% endblock %}


    {% block javascripts %}
        <script type="text/javascript">
            /* SCRIPT PARA NAVIGATION PESTAÑAS

                    $(function() {
                        $('#menu > li').hover(
                            function () {
                                var $this = $(this);

                                	$('a:not(select)',$this).stop(true,true).animate({
                                   	    	'bottom':'-85px'
                                   		}, 300);
                                	$('i',$this).stop(true,true).animate({
                                   		    'top':'-80px'
                                   		}, 400);

                            },
                            function () {
                                var $this = $(this);

                                	$('a:not(.select)',$this).stop(true,true).animate({
                                    	    'bottom':'-115px'
                                    	}, 300);
                                	$('i',$this).stop(true,true).animate({
                                    	    'top':'50px'
                                    	}, 400);

                            }

                        );
                    });
            */
        </script>
    {% endblock %}
    </body>
</html>
