{%extends '::base.html.twig'%}

{% block stylesheets %}
{{parent()}}
  <link rel="stylesheet" href="{{asset('css/fonts/font-awesome/css/font-awesome.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/sesionjad/css/sesion_workshop.css')}}" type="text/css" media="all" />
  <link rel="stylesheet" href="{{asset('bundles/sesionjad/css/sesion_workshop_admin.css')}}" type="text/css" media="all" />
{% endblock %}
{% block js %}
  {{parent()}}
  <script type="text/javascript" src="{{asset('js/canvas-shapes.js')}}"></script>
  <script type="text/javascript" src="{{asset('js/jquery.jsPlumb-1.3.16-all-min.js')}}"></script>
  <script type="text/javascript" src="{{asset('js/jquery.jsPlumb-1.3.16-all.js')}}"></script>
  <script type="text/javascript" src="{{asset('js/jquery.ui.touch-punch.min.js')}}"></script>

  <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}

{% block menu %}
	<li><a href="{{path('home_usuario')}}"><span class="text">Home</span></a></li>
	<li><a href="{{path('jad_home',{'rolusuario':rol.slug,'nombreJad':jad.slug})}}"><span class="text">JAD Menú</span></a></li>
	<li><a href="{{path('jad_sesiones',{'rolusuario':rol.slug,'nombreJad':jad.slug})}}"><span class="text">Workshops</span></a></li>
	<li><a href="{{path('jad_sesion', {'rolusuario':rol.slug,'nombreJad':jad.slug,'nombreSesion':sesion.slug})}}"><span class="text">Workshop Menú</span></a></li>
	<li><a href==""><span class="text">Workshop <br> Administración</span></a></li>
{% endblock %}

{% if is_granted('ROLE_USUARIO') %}
  {% block log_out_bar %}

            {{app.user}}, {{rol.nombre}}
            <a href="{{ path('usuario_logout') }}">Cerrar sesión</a>
   {% endblock %}
{% endif %}

{% block main %}
<nav id="tabs">
	<ul id="menu">
		<li>
	      <a id="turnos" class="select" onclick="turnos()">
	        <i class="icon_about"></i>
	                <span class="title">Turnos</span>
	                <span class="description">
	                    Gestiona los Turnos
	                </span>
	      </a>
	    </li>
	    <li>
	      <a id="agenda" onclick="agenda()">
	        <i class="icon_about"></i>
	                <span class="title">Agenda</span>
	                <span class="description">
	                    Gestiona la Agenda
	                </span>
	      </a>
	    </li>
	    <li>
	      <a id="objetivos" onclick="objetivos()">
	        <i class="icon_about"></i>
	                <span class="title">Objetivos</span>
	                <span class="description">
	                    Muestra los Objetivos
	                </span>
	      </a>
	    </li>
	    <li>
	      <a id="acuerdos" onclick="acuerdos()">
	        <i class="icon_about"></i>
	                <span class="title">Acuerdos</span>
	                <span class="description">
	                    Muestra los Acuerdos
	                </span>
	      </a>
	    </li>
	    <li>
	      <a id="temasAbiertos" onclick="temasAbiertos()">
	        <i class="icon_about"></i>
	                <span class="title">Temas Abiertos</span>
	                <span class="description">
	                    Muestra los Temas sin solucionar
	                </span>
	      </a>
	    </li>
	    <li>
	      <a id="restricciones" onclick="restricciones()">
	        <i class="icon_about"></i>
	                <span class="title">Restricciones</span>
	                <span class="description">
	                    Muestra las Restricciones
	                </span>
	      </a>
	    </li>
	</ul>
</nav>

<div id="contenido">
		<div id="Turnos">
	            <h2 class="section">Turnos</h2>
              <div id="botones">
                {% set contentA = screens.A %}
                {% set contentB = screens.B %}

                {% if contentA == 'turnos' %}
                    <a class="ocultar button" onclick="ocultar(this,'A','turnos')">Ocultar en A</a>
                {% else %}
                    <a class="mostrar button" onclick="mostrar(this,'A','turnos')">Mostrar en A</a>
                {% endif %}

                {% if contentB == 'turnos' %}
                    <a class="ocultar button" onclick="ocultar(this,'B','turnos')">Ocultar en B</a>
                {% else %}
                    <a class="mostrar button" onclick="mostrar(this,'B','turnos')">Mostrar en B</a>
                {% endif %}
              </div>
              <div id="lista">
                  <h3 class="subsection">Lista de Temas Abiertos almacenados</h3>
    	            <ul id="result">
                      {% for turno in turnos %}
                          {% if loop.index == 1 %}
                                {% set li_class = 'icon-large icon-user icon-user-current' %}
                          {% else %}
                                {% set li_class = 'icon-large icon-user' %}
                          {% endif %}
                          <li class="{{ li_class }}">
                              <a>{{turno}}</a><a onclick='pasarTurno({{ turno.id }})' class='delete'><i class='icon-remove-sign'></i></a>
                          </li>
                      {% endfor %}
    	            </ul>
              </div>
	    </div>
<div style="clear:both;"></div>
</div>
{% endblock main %}



{% block javascripts %}
        <script type="text/javascript">
            /* SCRIPT PARA NAVIGATION PESTAÑAS*/
                    $(function() {
                        $('#menu > li').hover(
                            function () {
                                var $this = $(this);

                                	$('a:not(select)',$this).stop(true,true).animate({
                                   	    	'bottom':'-70px'
                                   		}, 300);
                                	$('i',$this).stop(true,true).animate({
                                   		    'top':'-80px'
                                   		}, 400);

                            },
                            function () {
                                var $this = $(this);

                                	$('a:not(.select)',$this).stop(true,true).animate({
                                    	    'bottom':'-115px'
                                    	}, 300);
                                	$('i',$this).stop(true,true).animate({
                                    	    'top':'50px'
                                    	}, 400);

                            }

                        );
                    });

			/* SCRIPT PARA CARGAR EL CONTENIDO DEL CONTENEDOR DE LAS DIFERENTES PESTAÑAS A TRAVES DE SYMFONY2*/

			function turnos(){
			  $('#contenido').load('{{ path('admin_window_turnos', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}');
         //Parte del script para corregir las pestañas
				$('#menu > li > a').each(function(){
  					if( $(this).attr('class') == 'select'){
          				$(this).removeAttr('class');
          				$(this).stop(true,true).animate({'bottom':'-115px'}, 300);
          	}
      	});
        $('#turnos').attr('class','select');
                //volvemos a poner en funcionameinto las llamadas al servidor para consultar si hay cambios en los turnos
			}

			function agenda(){
          $('#contenido').load('{{ path('admin_window_agenda', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}');
          $('#menu > li > a').each(function(){
  					if( $(this).attr('class') == "select"){
          				$(this).removeAttr('class');
          				$(this).stop(true,true).animate({'bottom':'-115px'}, 300);
          			}
			     });
          $('#agenda').attr('class','select');
      }

  		function objetivos(){
        $('#contenido').load('{{ path('admin_window_objetivos', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}');

        $('#menu > li > a').each(function(){
					if( $(this).attr('class') == "select"){
        				$(this).removeAttr('class');
        				$(this).stop(true,true).animate({'bottom':'-115px'}, 300);
        			}
      			});
        $('#objetivos').attr('class','select');

  		}

  		function acuerdos(){
          $('#contenido').load('{{ path('admin_window_acuerdos', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}');

          $('#menu > li > a').each(function(){
    					if( $(this).attr('class') == "select"){
            				$(this).removeAttr('class');
            				$(this).stop(true,true).animate({'bottom':'-115px'}, 300);
  			      }
			    });
          $('#acuerdos').attr('class','select');
  		}

      function editarAcuerdos(id_list, id){
        $('#figure_'+id_list).toggleClass("icon-save");
        $('#figure_'+id_list).removeAttr("onmouseout");
        $('#figure_'+id_list).removeAttr("onmouseover");
        $('#encabezado_acuerdo_'+id_list).attr('contenteditable','true');
        $('#encabezado_acuerdo_'+id_list).addClass('li_textarea');
        $('#descripcion_acuerdo_'+id_list).attr('contenteditable','true');
        $('#descripcion_acuerdo_'+id_list).addClass('li_textarea');
        $('#editar_acuerdo_'+id_list).attr('onclick','enviarEditarAcuerdo('+id_list+','+id+')');

      }

            function enviarEditarAcuerdo(id_list, id){
              var encabezado = $('#encabezado_acuerdo_'+id_list).html();
              var descripcion = $('#descripcion_acuerdo_'+id_list).html();

              link = Routing.generate('admin_window_acuerdos_editar',{ rolusuario:"{{rol.slug}}", nombreJad:"{{jad.slug}}", nombreSesion:"{{sesion.slug}}", id: id });
              $('#contenido').load(link,{'nombre':encabezado, 'descripcion':descripcion});
            }

            function insertarAcuerdo(){
              var $form = $('#nuevo_acuerdo').serializeArray();
              $.post('{{ path('admin_window_acuerdos', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}', $form, function(data){
                  $('#contenido').html(data);
              });
            }

            function eliminarAcuerdo(id){
              link = Routing.generate('admin_window_acuerdos_eliminar',{ rolusuario:"{{rol.slug}}", nombreJad:"{{jad.slug}}", nombreSesion:"{{sesion.slug}}", id: id });
              $('#contenido').load(link);
            }

            function mostrarFormNuevoAcuerdo(){
              if( $('#nuevo_acuerdo').css('display') == 'block' ){
                 $('#nuevo_acuerdo').css('display','none');
                 $('#form').html('Nuevo Acuerdo');
              }else
              if( $('#nuevo_acuerdo').css('display') == 'none' ){
                 $('#nuevo_acuerdo').css('display','block');
                  $('#form').html('Cancelar');
              }
            }


        	    function temasAbiertos(){
                $('#contenido').load('{{ path('admin_window_temasAbiertos', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}');

                $('#menu > li > a').each(function(){
          					if( $(this).attr('class') == "select"){
                  				$(this).removeAttr('class');
                  				$(this).stop(true,true).animate({'bottom':'-115px'}, 300);
                  			}
                			});
                $('#temasAbiertos').attr('class','select');
        		}

            function editarTemaAbierto(id_list, id){
              $('#figure_'+id_list).toggleClass("icon-save");
              $('#figure_'+id_list).removeAttr("onmouseout");
              $('#figure_'+id_list).removeAttr("onmouseover");

              link = Routing.generate('admin_window_tema_abierto_editar',{ rolusuario:"{{rol.slug}}", nombreJad:"{{jad.slug}}", nombreSesion:"{{sesion.slug}}", id: id });

              $('#tema_abierto_'+id_list).load(link);

            }

            function guardarCambiosTemaAbierto(id){
              var $form = $('#edit_temaAbierto').serializeArray();

              link = Routing.generate('admin_window_tema_abierto_editar',{ rolusuario:"{{rol.slug}}", nombreJad:"{{jad.slug}}", nombreSesion:"{{sesion.slug}}", id: id });

              $.post(link, $form, function(data){
                  $('#lista').html(data);
              });
            }

            function mostrarFormNuevoTema(){
              if( $('#nuevo_temaAbierto').css('display') == 'block' ){
                 $('#nuevo_temaAbierto').css('display','none');
                 $('#form').html('Nuevo Tema Abierto');
              }else
              if( $('#nuevo_temaAbierto').css('display') == 'none' ){
                 $('#nuevo_temaAbierto').css('display','block');
                  $('#form').html('Cancelar');
              }
            }

            function insertarTemaAbierto(){
              var $form = $('#nuevo_temaAbierto').serializeArray();
              $.post('{{ path('admin_window_temasAbiertos', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}', $form, function(data){
                  $('#contenido').html(data);
              });
            }

            function eliminarTemaAbierto(id){
              link = Routing.generate('admin_window_tema_abierto_eliminar',{ rolusuario:"{{rol.slug}}", nombreJad:"{{jad.slug}}", nombreSesion:"{{sesion.slug}}", id: id });
              $('#lista').load(link);
            }

        	 function restricciones(){
                $('#contenido').load('{{ path('admin_window_restricciones', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}');

                $('#menu > li > a').each(function(){
					if( $(this).attr('class') == "select"){
        				$(this).removeAttr('class');
        				$(this).stop(true,true).animate({'bottom':'-115px'}, 300);
        			}
      			});
                $('#restricciones').attr('class','select');
        		}

            function mostrarFormNuevaRestriccion(){
              if( $('#nueva_restriccion').css('display') == 'block' ){
                 $('#nueva_restriccion').css('display','none');
                 $('#form').html('Nueva Restricción');
              }else
              if( $('#nueva_restriccion').css('display') == 'none' ){
                 $('#nueva_restriccion').css('display','block');
                  $('#form').html('Cancelar');
              }
            }

            function insertarRestriccion(){
              var $form = $('#nueva_restriccion').serializeArray();
              $.post('{{ path('admin_window_restricciones', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}', $form, function(data){
                  $('#contenido').html(data);
              });
            }

            function editarRestriccion(id_list, id){
              $('#figure_'+id_list).toggleClass("icon-save");
              $('#figure_'+id_list).removeAttr("onmouseout");
              $('#figure_'+id_list).removeAttr("onmouseover");

              link = Routing.generate('admin_window_restriccion_editar',{ rolusuario:"{{rol.slug}}", nombreJad:"{{jad.slug}}", nombreSesion:"{{sesion.slug}}", id: id });

              $('#restriccion_'+id_list).load(link);
            }

            function guardarCambiosRestriccion(id){
              var $form = $('#edit_restriccion').serializeArray();

              link = Routing.generate('admin_window_restriccion_editar',{ rolusuario:"{{rol.slug}}", nombreJad:"{{jad.slug}}", nombreSesion:"{{sesion.slug}}", id: id });

              $.post(link, $form, function(data){
                  $('#lista_de_restricciones').html(data);
              });
            }

            function eliminarRestriccion(id){
              link = Routing.generate('admin_window_restriccion_eliminar',{ rolusuario:"{{rol.slug}}", nombreJad:"{{jad.slug}}", nombreSesion:"{{sesion.slug}}", id: id });
              $('#lista_de_restricciones').load(link);
            }



        		function pasarTurno(id){
              var id = id;
              //Utilizamos el bundle jsrouting porque necesito variables js para generar la ruta symfony2
              link = Routing.generate('admin_window_pasarTurno',{ rolusuario:"{{rol.slug}}", nombreJad:"{{jad.slug}}", nombreSesion:"{{sesion.slug}}", id: id });
        			$('#contenido').load(link);
        		}
        </script>

        <script type="text/javascript">
            function mostrar(element, pantalla, info){
              //Esta funcion realiza una peticion ajax al servidor mediante el metodo jquery.post() para cambiar el estado del fichero de las pantallas y que refleje los cambios.
              $.post('{{ path('admin_window_mostrar_pantalla', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}', {pantalla : pantalla, info: info} );
                element.innerHTML =  "Ocultar en " + pantalla;
                element.setAttribute("onclick", "ocultar(this,'"+pantalla+"','"+info+"')");
                element.setAttribute("class", "ocultar button");
            }

            function ocultar(element, pantalla, info){
                 $.post('{{ path('admin_window_ocultar_pantalla', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}', {pantalla : pantalla});
                 element.innerHTML =  "Mostrar en " + pantalla;
                 element.setAttribute("onclick", "mostrar(this,'"+pantalla+"','"+info+"')");
                 element.setAttribute("class", "mostrar button");
            }
        </script>

        <script type="text/javascript">

            function pasarPuntoSiguiente(){

                $.post('{{ path('admin_window_punto_siguiente', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}');
            }

            function pasarPuntoAnterior(){

                $.post('{{ path('admin_window_punto_anterior', { 'rolusuario': rol.slug, 'nombreJad': jad.slug, 'nombreSesion': sesion.slug } ) }}');
            }
        </script>

        <script src="http://178.79.187.145:8080/sockjs-0.3.js"></script>
        <script>
            var sock = new SockJS('http://178.79.187.145:8080/broadcast');
            sock.onmessage = function (event) {
                //Como recibimo un flujo de datos (string) que es un array codificado en su origen a json lo parseamos a json
                mensaje = JSON.parse(event.data);
                 switch(mensaje.evento)
                    {
                        case 'request.turn':
                            //Dentro del array que hemos parseado en la linea anterior ocurre lo mismo con el objeto fuente, notar que en su origen hubo que pasarlo a json con jmsserializer en la clase HandlerJSON
                            objeto = JSON.parse(mensaje.objeto);
                            if(mensaje.posicion == 1){
                              li_class = 'icon-large icon-user icon-user-current';
                            }else{
                              li_class = 'icon-large icon-user';
                            }
                            document.getElementById("result").innerHTML += "<li class='" + li_class + "'><a>" + objeto.nombre + " " + objeto.apellidos + "</a><a onclick=\"pasarTurno("+ objeto.id +")\" class=\"delete\"><i class=\"icon-remove-sign\"></i></a></li>";
                            break;
                        case 'remove.turn':
                        //Codigo comentado porque esta vista se actualiza con el propio controlador y el fichero
                            turnos = JSON.parse(mensaje.turnos);
                            document.getElementById("result").innerHTML ="";
                            $.each(turnos, function(index, user){
                                if(index == 0)
                                {
                                  li_class = 'icon-large icon-user icon-user-current';
                                }else{
                                  li_class = 'icon-large icon-user';
                                }
                                document.getElementById("result").innerHTML += "<li class='" + li_class + "'><a>" + user.nombre + " " + user.apellidos + "</a></li>";
                            });
                            break;
                        case 'hide.screen':
                              break;
                        case 'show.screen':
                              break;
                        case 'next.agenda':
                              var punto = mensaje.punto;
                              var orden_actual = mensaje.orden_actual;

                              $("#lista_puntos_agenda li").each(function(){
                                if( $('a',this).attr('orden') == orden_actual ){
                                  $('a',this).attr('class','arrow-current');
                                }else{
                                  $('a',this).attr('class','arrow');
                                }
                              });

                              var size_list = $("#lista_puntos_agenda li").length;
                              if(size_list == orden_actual){
                                $('#button_siguiente').addClass('hide');
                              }
                              if(orden_actual != 1 ){
                                $('#button_anterior').removeClass('hide');
                              }else{ $('#button_anterior').addClass('hide');}
                              break;
                        case 'back.agenda':
                              var punto = mensaje.punto;
                              var orden_actual = mensaje.orden_actual;

                               $("#lista_puntos_agenda li").each(function(){
                                if( $('a',this).attr('orden') == orden_actual ){
                                  $('a',this).attr('class','arrow-current');
                                }else{
                                  $('a',this).attr('class','arrow');
                                }
                              });

                              var size_list = $("#lista_puntos_agenda li").length;
                              if(orden_actual == 1){
                                $('#button_anterior').addClass('hide');
                              }
                              if(orden_actual != size_list){
                                $('#button_siguiente').removeClass('hide');
                              }else{$('#button_siguiente').addClass('hide');}

                              break;
                        case 'new.agreement':
                          break;
                        case 'edit.agreement':
                          break;
                        case 'remove.agreement':
                          break;
                        case 'new.openissue':
                          break;
                        case 'remove.openissue':
                          break;
                        case 'edit.openissue':
                          break;
                        case 'new.constraint':
                          break;
                        case 'remove.constraint':
                          break;
                        case 'edit.constraint':
                          break;
                        default:
                        alert('Evento desconocido');
                    }
            };
        </script>


    {% endblock %}
