{% extends '::base.html.twig' %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{asset('bundles/jad/css/jad_menu.css')}}" type="text/css" media="all" />
<link rel="stylesheet" href="{{asset('css/fonts/font-awesome/css/font-awesome.css')}}">
<link rel="stylesheet" href="{{asset('bundles/sesionjad/css/sesion_documentos.css')}}">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
          $(function() {
            $( "ul.droptrue" ).sortable({
              connectWith: "ul"
            });

            $( "ul.dropfalse" ).sortable({
              connectWith: "ul",
              dropOnEmpty: false
            });

            $( "#sortable1, #sortable2, #sortable3" ).disableSelection();
          });
    </script>
{% endblock %}


{% block menu %}
<!--
      <li>
      <a  class="select" href="{{path('jad_home',{'rolusuario':rol.slug,'nombreJad':jad.slug})}}">
        <i class="icon_about"></i>
                <span class="title">JAD Menu</span>
                <span class="description">
                    Gestiónalo
                </span>
      </a>
    </li>
-->
<li><a href="{{path('home_usuario')}}"><span class="text">Home</span></a></li>
<li><a href="{{path('jad_home',{'rolusuario':rol.slug,'nombreJad':jad.slug})}}"><span class="text">JAD Menú</span></a></li>
<li><a href="{{path('jad_sesiones',{'rolusuario':rol.slug,'nombreJad':jad.slug})}}"><span class="text">Workshops</span></a></li>
<li><a href="{{ path('jad_sesion', {'rolusuario':rol.slug,'nombreJad':jad.slug,'nombreSesion':sesion.slug}) }}"><span class="text">Workshop Menú</span></a></li>
<li><a ><span class="text">Docs</span></a></li>
{% endblock %}

          {% if is_granted('ROLE_USUARIO') %}
          {% block log_out_bar %}
                    {{app.user}}, {{rol.nombre}}
                    <a href="{{ path('usuario_logout') }}">Cerrar sesión</a>
           {% endblock %}
          {% endif %}

{% block main %}

            <section class="container"><h3><span class="left ribbon"></span>Documentos<span class="right ribbon"></span></h3></section>

            <div id="container_participantes">

                <div id="barra_editar">
                  <span> | </span>
                  <input type="file" style="display:none;" id="botonFileReal">
                  <input type="button" id="subida" value="Subir documento" onclick="document.getElementById('botonFileReal').click();" style="">
                  <span> | </span>
                  <span>Seleccionar todo</span>
                  <span> | </span>
                </div>

            <div id="container_lista_participantes">

            <div class="lcont">
              <h2>Documentos</h2>
              <ul id="list_items" >
                <li class="ui-state-default" style="background:white">
                  <img id="pdf" src="{{asset('bundles/sesionjad/images/pdf.png')}}" alt="Logo PDF">
                  Documento 1
                  <input type="checkbox" style="float:right; margin-top: 3%">
                </li>
                <li class="ui-state-default" style="background:white">
                  <img id="word" src="{{asset('bundles/sesionjad/images/word.png')}}" alt="Logo Word">
                  Documento 2
                  <input type="checkbox" style="float:right; margin-top: 3%">
                </li>
              </ul>
            </div>
            <div class="lcont center">
              <h2>Imágenes</h2>
              <ul id="list_items">
                <li class="ui-state-default" style="background:white">
                  <img id="imagen" src="{{asset('bundles/sesionjad/images/imagen.png')}}" alt="Logo imagen">
                  Imagen 1
                  <input type="checkbox" style="float:right; margin-top: 3%">
                </li>
              </ul>
            </div>
            <div class="lcont">
              <h2>Modelos</h2>
              <ul id="list_items">
                <li class="ui-state-default" style="background:white">
                  <img id="modelo" src="{{asset('bundles/sesionjad/images/modelo.png')}}" alt="Logo modelo">
                  Modelo 1
                  <input type="checkbox" style="float:right; margin-top: 3%">
                </li>
              </ul>
            </div>
          </div>
        </div>

{% endblock %}